.home {
    text-align: center;


    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    .header {
        max-width: 70%;
        margin: 54px auto;

        p {
            max-width: 60%;
            margin: auto;
            margin-top: 22px;
        }
    }

    .calendar-container {
        margin-bottom: 254px;
        margin-top: 50px;
    }

    .the-law {
        margin-bottom: 260px;

        h6 {
            margin-bottom: 2px;
        }

        h2 {
            margin-bottom: 32px;
        }

        p {
            max-width: 56%;
            margin: auto;
        }
    }

    .how-to-start {
        margin-bottom: 260px;

        .header-wrapper {
            margin-bottom: 100px;

            h6 {
                margin-bottom: 4px;
            }
        }

        .step-wrapper {
            display: flex;
            justify-content: space-between;

            .steps {
                width: 33%;
                margin: auto;

                p.xlarge {
                    margin-top: 12px;
                    font-weight: 500;
                }

                p.medium {
                    max-width: 76%;
                    margin: auto;
                }
            }
        }
    }

    .overview {
        margin-bottom: 260px;

        h4 {
            margin-bottom: 26px;
        }

        p {
            max-width: 60%;
            margin: auto;
        }
    }

    .law-help-bg {
        background: var(--tertiary-700);
        padding: 260px 0;
    }

    .law-help {

        h2 {
            margin-bottom: 32px;
        }

        p {
            max-width: 60%;
            margin: auto;
        }

        .law-features {
            margin-top: 116px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .feature {
                max-width: 50%;
                margin: auto;

                p.xlarge {
                    margin-top: 16px;
                    font-weight: 500;
                }

                p {
                    max-width: 72%;
                }
            }

            .feature:nth-child(n+3) {
                margin-top: 66px;
            }
        }
    }

    p.xlarge {
        color: var(--primary-900);
        font-family: 'Clash Display';
    }

    p {
        margin: auto;
    }

    .start-day-one {
        margin-top: 260px;
    }

    .cut-off {
        max-height: 350px;
        margin-bottom: 0;
        overflow: hidden;
    }
}

.start-button {
    a {
        color: #CED1C9;
    }
}

.start-button:hover {
    a {
        color: var(--active-500);
    }
}


@media only screen and (max-width: 580px){
    .home {
        .header {
            max-width: 90%;

            p {
                max-width: 60%;
                margin: auto;
                margin-top: 22px;
            }
        }

        .law {
            p {
                max-width: 72%;
            }
        }

        .how-to-start {
            .step-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 32px;

                .steps {
                    width: 100%;

                    p.medium {
                        width: 44%;
                    }
                }
            }
        }

        .law-help {
            .law-features {
                flex-direction: column;
                row-gap: 50px;
            }
        }

        .the-law p, .overview p, law-help p {
            max-width: 80%;
        }
    }

    .start-button {
        margin: 32px 0px 64px;

        a {
            color: #CED1C9;
        }
    }
}

@media only screen and (max-width: 481px) {
    .home {
        .how-to-start {
            .step-wrapper {
                .steps {
                    p.medium {
                        width: 80%;
                    }
                }
            }
        }

        .law-help {
            .law-features {
                .feature{
                    max-width: 100%;
                }
            }
        }
    }
}