@page "/"

<PageTitle>Index</PageTitle>

<section class="home">
    <div class="container">
        <h1>Hello, world!</h1>
    </div>
</section>



@code {
    string SampleString = "hello this is a sample";
}
