@inherits LayoutComponentBase

<NavMenu />
@*<LoginDisplay />*@

<div class="main">
    @Body
</div>

<footer>
    <div>
        Part of the <a href="https://sparc.coop" target="_blank">sparc.coop</a>  initiative
    </div>
    <div class="logo">
        <img src="images/Logo.svg" />
    </div>
    <span id="twitter">
        <img src="images/Twitter.svg" />
    </span>
</footer>


