@inherits LayoutComponentBase

<NavMenu />
@*<LoginDisplay />*@

<div class="main">
    @Body
</div>

<footer>
    <div class="footer-left">
        <div>
            Part of the <a href="https://sparc.coop" target="_blank">sparc.coop</a>  initiative
        </div>
    </div>
    
    <div class="logo">
        <img src="images/Logo.svg" />
    </div>
    <div class="footer-right">
        <span id="twitter">
        <img src="images/Twitter.svg" />
    </span>
    </div>
    
</footer>


