@inherits LayoutComponentBase

<NavMenu />
@*<LoginDisplay />*@

<div class="main">
    @Body
</div>

<footer>
    <div class="footer-left">
        <div>
            Part of the <a href="https://sparc.coop" target="_blank">sparc.coop</a>  initiative
        </div>
    </div>
    
    <div class="logo">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <div class="box">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.04602 0L4.71817 1.22898C5.2027 2.11491 5.93111 2.84332 6.81704 3.32785L8.04602 4L6.81704 4.67215C5.93111 5.15668 5.2027 5.88509 4.71817 6.77102L4.04602 8L3.37387 6.77102C2.88934 5.88509 2.16093 5.15668 1.275 4.67215L0.0460205 4L1.275 3.32785C2.16093 2.84332 2.88934 2.11491 3.37387 1.22898L4.04602 0Z" fill="#F24C00"/>
            </svg>
        </div>
        </NavLink>
    </div>
    <div class="footer-right">
        <span id="twitter">
        <img src="images/Twitter.svg" />
    </span>
    </div>
    
</footer>


