nav {
    display: flex;
    justify-content: space-between;
    margin: 32px 40px 80px 40px;

    .nav-left, .nav-right {
        display: flex;
        width: 50%;


        .nav-link {
            color: var(--primary-900);
        }
    }

    .nav-right{
        justify-content: flex-end;
    }
}
