<nav class="desktop-nav">
    <div class="nav-left">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="community">
            Community Timeline
        </NavLink>
    </div>
    <div class="logo">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <div class="box">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.04602 0L4.71817 1.22898C5.2027 2.11491 5.93111 2.84332 6.81704 3.32785L8.04602 4L6.81704 4.67215C5.93111 5.15668 5.2027 5.88509 4.71817 6.77102L4.04602 8L3.37387 6.77102C2.88934 5.88509 2.16093 5.15668 1.275 4.67215L0.0460205 4L1.275 3.32785C2.16093 2.84332 2.88934 2.11491 3.37387 1.22898L4.04602 0Z" fill="#F24C00"/>
            </svg>
        </div>
        </NavLink>
    </div>
    <AuthorizeView>
        <NotAuthorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="@ReturnUrl">
                    Sign In
                </NavLink>
                <NavLink class="nav-link" href="@ReturnUrl">
                    Create Account
                </NavLink>
            </div>
        </NotAuthorized>

        <Authorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="/habit">
                    Daily Tracker
                </NavLink>
                <NavLink class="nav-link" href="/profile">
                    Profile
                </NavLink>
                <button @onclick=BeginSignOut>
                    Log Out
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>

<nav class="mobile-nav">
    <div class="nav-left">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>
    <div class="logo">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <div class="box">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.04602 0L4.71817 1.22898C5.2027 2.11491 5.93111 2.84332 6.81704 3.32785L8.04602 4L6.81704 4.67215C5.93111 5.15668 5.2027 5.88509 4.71817 6.77102L4.04602 8L3.37387 6.77102C2.88934 5.88509 2.16093 5.15668 1.275 4.67215L0.0460205 4L1.275 3.32785C2.16093 2.84332 2.88934 2.11491 3.37387 1.22898L4.04602 0Z" fill="#F24C00"/>
            </svg>
        </div>
        </NavLink>
    </div>
    <AuthorizeView>
        <NotAuthorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="@ReturnUrl">
                    Sign In
                </NavLink>
            </div>
        </NotAuthorized>

        <Authorized>
            <div class="nav-right">
                <button @onclick=BeginSignOut>
                    Log Out
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>

<figure class="big-star">
    <img src="/images/Star-Big.svg" />
</figure>

@inject SignOutSessionStateManager SignOutManager
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    string ReturnUrl => "/authentication/login?returnUrl=" + Uri.EscapeDataString(Nav.ToAbsoluteUri("/habit").AbsoluteUri);

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Nav.NavigateTo("authentication/logout");
    }
}
