nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 40px 80px 40px;

    .nav-left, .nav-right {
        display: flex;
        width: 50%;


        .nav-link {
            color: var(--primary-900);
            margin-right: 32px;
        }
    }

    .nav-left:last-child, .nav-right:last-child{
        margin-right: 0px;
    }

    .nav-right{
        justify-content: flex-end;
    }
}
