<nav>
    <div class="nav-left">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="timeline">
            Timeline
        </NavLink>
    </div>
    <div class="logo">
        <img src="images/Logo.svg" />
    </div>
    <div class="nav-right">
        @*Fill in with correct Sign in/ Create account links*@
        <NavLink class="nav-link" href="sign-in">
            Sign In
        </NavLink>
        <NavLink class="nav-link" href="sign-up">
            Create Account
        </NavLink>
    </div>

    @*After use is signed in This needs to replace content in "nav-right"*@
    @*<div class="nav-right">
       
        <NavLink class="nav-link" href="tracking">
            Daily Tracker
        </NavLink>
        <NavLink class="nav-link" href="/">
            Profile
        </NavLink>
    </div>*@
</nav>
            

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
