<nav>
    <div class="nav-left">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="community">
            Community Timeline
        </NavLink>
    </div>
    <div class="logo">
        <img src="images/Logo.svg" />
    </div>
    <AuthorizeView>
        <NotAuthorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="@ReturnUrl">
                    Sign In
                </NavLink>
                <NavLink class="nav-link" href="@ReturnUrl">
                    Create Account
                </NavLink>
            </div>
        </NotAuthorized>

        <Authorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="/habit">
                    Daily Tracker
                </NavLink>
                <NavLink class="nav-link" href="/profile">
                    Profile
                </NavLink>
                <button @onclick=BeginSignOut>
                    Log Out
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>

<figure class="big-star">
    <img src="/images/Star-Big.svg" />
</figure>

@inject SignOutSessionStateManager SignOutManager
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    string ReturnUrl => "/authentication/login?returnUrl=" + Uri.EscapeDataString(Nav.ToAbsoluteUri("/habit").AbsoluteUri);

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Nav.NavigateTo("authentication/logout");
    }
}
