.signin, .signup {
    background: var(--tertiary-500);
    padding: 64px 32px;
    text-align: center;

    .container {
        max-width: 350px;
        margin: 0 auto;
    }

    header {
        margin-bottom: 32px;
        h4 {
            margin-bottom: 12px;
        }
    }

    button {
        margin-bottom: 24px;
        width: 100%;
    }
    
    .heading, .intro, .localAccount .divider {
        display: none;
    }

    #createAccount {
        display: block;
    }

    .password-label {
        position: relative;
    }

    #forgotPassword {
        position: absolute;
        top: 6px;
        right: 0;
        font-size: 12px;
    }
    
    .divider {
        margin: 32px 0;
        h2 {
            font: 400 20px/20px 'Clash Display';
            text-transform: lowercase; 
        }
    }

    label[for] {
        display: block;
        text-align: left;
        margin-bottom: 8px;
    }

    input{
        width: 100%;
        margin-bottom: 24px;
        text-align: left;
    }

    .buttons {
        text-align: right;
    }

    #next {
        width: 50%;
        text-align: center;
    }
        
}