.calendar-grid {
    display: inline-grid;
    grid-template: repeat(10, 40px) / repeat(10, 40px);
    grid-gap: 4px;
    background-color: var(--active-500);
    color: var(--primary-500);
    padding: 24px;
    margin: 16px auto;
    text-align: center;
    border-radius: 6px;
    z-index: 1000;
    position: relative;

    > * {
        line-height: 38px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 100px;
        font-family: 'Inter';

        &:hover {
            border-color: var(--primary-500);
            cursor: pointer;
        }
    }



    .day-current {
        color: var(--primary-900);
        font-weight: 600;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 48px;
            height: 48px;
            background-image: url('/images/Star-Fill.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 48px 48px;
            z-index: -1;
        }
    }

    .day-success {
        color: var(--secondary-700);
        text-decoration: line-through;
    }

    .day-fail {
        color: var(--primary-700);
    }

    .day-missed {
        color: var(--primary-700);
        text-decoration: underline;
        cursor: pointer;
    }
}
