@page "/communityTimeline"

<section class="communityTimeline">
    <div class="container">
        <div class="content">
            <Timeline />
            <div class="completedDays">
                <div class="completedDays__title">
                    <p>Previous 100 Dayers</p>
                    <p class="viewMore">View All</p>
                </div>
               <div class="completedDay">
                    <p class="completedDay__date">15/02/2022</p>
                    <p class="completedDay__text">I’ve done it, 100 days!! 🥳</p>
                    <p class="completedDay__user">&#64;andrebiachi</p>             
               </div>
                <div class="completedDay">
                    <p class="completedDay__date">15/02/2022</p>
                    <p class="completedDay__text">If you had asked me 100 days ago, if I could do this, I would of said no way.</p>
                    <p class="completedDay__user">&#64;andrebiachi</p>             
               </div>

            </div>
        </div>
    </div>

</section>

@code {

}