.calendar-grid {
    display: grid;
    grid-template: repeat(10, auto) / repeat(10, auto);
    grid-gap: 0;
    background-color: var(--active-500);
    color: var(--primary-500);
    padding: 24px;
    margin: 52px 0 16px;
    text-align: center;
    border-radius: 6px;

    > * {
        padding: 16px;
    }
    
    .day-current { 
        background-image: url('/images/Star-Fill.svg'); 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--primary-900);
        font-weight: 600;
    } 
}