<section class="entry-day">
    <div class="container">
        <div class="content">
            <div class="header">
                <p class="xlarge">100 days to</p>
                <h3>Learn Guitar</h3>
            </div>

            <div class="content-wrapper">
                <div class="col-left">@*Black box calendar will be here*@</div>
                <div class="col-right">
                    <div class="col-wrapper">
                        <div class="track-day">
                            <p class="small sub-header">Successful day?</p>
                            <div class="input-wrapper">
                                <input type="radio" id="Yes" name="rating" @bind="IsSuccessful" />
                                <label for="Yes">Yes</label>
                            
                                <input type="radio" id="NotYet" name="rating" @bind="IsSuccessful" checked />
                                <label for="NotYet">Not Yet</label>

                                <input type="radio" id="No" name="rating" @bind="IsSuccessful" />
                                <label for="No">No</label>
                            </div>
                            

                        </div>
                        <div class="rating">
                            <p class="small sub-header">Rate your day</p>
                            <div class="img-wrapper">
                                <img src="images/Stars.svg" />
                            </div>
                        </div>
                        <div class="notes">
                            <p class="small sub-header">Notes about your day</p>
                            <textarea @bind="Review" placeholder="Tell us about your day" maxlength="120" />
                        </div>

                        <button class="secondary-button open-button" onclick="openSharePopOut();">Save & Submit Day</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="share-overlay" id="overlayPopout"></div>
        <div class="share-popup" id="sharePopout">
            <div class="wrapper">

    
                <h5>Confirm Your Day</h5>
                <p class="medium">Double check your selection, once you save your day you cannot go back and change it.</p>

                <div class="response-wrapper">
                    <p class="xsmall">Successful day:</p>
                    <p class="small"></p>
                </div>
                <div class="response-wrapper">
                    <p class="xsmall">Day Rating:</p>
                    <p class="small">5/5</p>
                </div>
                <div class="response-wrapper">
                    <p class="xsmall">Notes:</p>
                    <p class="small"></p>
                </div>
        
                <div class="post-wrapper">
                    <input type="checkbox"/>
                    <label>Post day on Law of 100 public timeline</label>
                </div>
        

                <button class="secondary-button" type="button">Confirm & Save</button>
                <button class="cancel-button" type="button" onclick="closeSharePopOut()">Cancel</button>
            </div>
        </div>
        
</section>


@code {

    public bool IsSuccessful { get; set; }
    public decimal? Rating { get; set; }
    public string? Review { get; set; }

}
