<section class="entry-day">
    <EditForm Model="Progression">
        <div class="track-day">
            <p class="small sub-header">Successful day?</p>
            <div class="input-wrapper">
                <InputRadioGroup @bind-Value="Progression.IsSuccessful">
                    <label class="@(Progression.IsSuccessful == true ? "selected" : "")">
                        <InputRadio Value="true" />
                        Yes
                    </label>
                    <label class="@(Progression.IsSuccessful == false ? "selected" : "")">
                        <InputRadio Value="false" />
                        No
                    </label>
                </InputRadioGroup>
            </div>
        </div>
        <div class="rating">
            <p class="small sub-header">Rate your day</p>
            <div class="img-wrapper">
                <StarRating @bind-Value="Progression.Rating" />
            </div>
        </div>
        <div class="notes">
            <p class="small sub-header">Notes about your day</p>
            <textarea @bind="Progression.Review" placeholder="Tell us about your day" maxlength="120" />
        </div>

        <button class="secondary-button open-button" onclick="openSharePopOut();">Save & Submit Day</button>
    </EditForm>
</section>

<div class="share-overlay" id="overlayPopout"></div>
<div class="share-popup" id="sharePopout">
    <div class="wrapper">
        <h5>Confirm Your Day</h5>
        <p class="medium">Double check your selection, once you save your day you cannot go back and change it.</p>

        <div class="response-wrapper">
            <p class="xsmall">Successful day:</p>
            <p class="small"></p>
        </div>
        <div class="response-wrapper">
            <p class="xsmall">Day Rating:</p>
            <p class="small">5/5</p>
        </div>
        <div class="response-wrapper">
            <p class="xsmall">Notes:</p>
            <p class="small"></p>
        </div>

        <div class="post-wrapper">
            <input type="checkbox" @bind="Progression.IsPublic" />
            <label>Post day on Law of 100 public timeline</label>
        </div>


        <button class="secondary-button" type="button" @onclick=SubmitDay>Confirm & Save</button>
        <button class="cancel-button" type="button" onclick="closeSharePopOut()">Cancel</button>
    </div>
</div>

@code {
    [Parameter] public string? HabitId { get; set; }
    [Parameter] public EventCallback<Habit> OnSubmit { get; set; }

    TrackProgressRequest Progression = new() { IsPublic = true };

    async Task SubmitDay()
    {
        var habit = await PublicApi().TrackProgressAsync(Progression);
        await OnSubmit.InvokeAsync(habit);
    }
}
