.entry-day {
    .header {
        text-align: center;
        margin-bottom: 52px;

        p {
            margin-bottom: 6px;
        }
    }

    .content-wrapper {
        margin-top: 112px;
    }

    .col-wrapper {
        .track-day, .rating, .notes {
            .sub-header {
                margin-bottom: 12px;
            }
        }

        .track-day {
            margin-bottom: 36px;
            width: 78%;

            .input-wrapper {
                border: 1px solid var(--primary-900);
                border-radius: 6px 6px 6px 6px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;

                input {
                    display: none;
                }

                label {
                    padding: 6px 18px;
                }

                input[type="radio"]:checked + label {
                    background-color: var(--primary-900);
                    color: var(--tertiary-500);
                }
            }
        }

        .rating {
            margin-bottom: 42px;
        }

        .notes {
            margin-bottom: 40px;

            textarea {
                width: 100%;
                height: 100px;
            }
        }
    }

}

/* Button used to open the Share popup*/
.open-button {
    padding: 8px 12px;
    border-radius: 6px;
}

/* The Share popup - hidden by default */
.share-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CED1C9;
    padding: 40px;
    max-width: 432px;

    .response-wrapper {
        margin-bottom: 18px;
    }

    .response-wrapper:last-child {
        margin-bottom: 26px;
    }

    h5 {
        margin-bottom: 12px;
        color: var(--primary-900);
    }

    p.medium {
        margin-bottom: 24px;
        color: var(--primary-700);
    }

    p.small {
        color: var(--primary-700);
    }

    p.xsmall {
        margin-bottom: 10px;
        color: var(--primary-500);
    }

    .post-wrapper {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        color: var(--primary-900);

        input {
            margin-right: 10px;
            margin-top: 4px;
        }
    }
}

#twitter {
    margin-right: 6px;
}

.share-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #626666;
    top: 0;
    left: 0;
    opacity: 0.6;

}
