@page "/habits/create"
@page "/habits/{HabitId}"

@if (HabitId == null)
{
    <CreateHabit />
}

<div class="grid-wrapper">
    @if (Habit?.Id != null)
    {
        <section id="header-test" class="habit-index">
            <h6>100 days to</h6>
            <h3>@Habit.HabitName</h3>
        </section>

        <DayGrid Habit="Habit" />

        <EntryDay />
    }
</div>

@code {
    [Parameter] public string? HabitId { get; set; }
    Habit? Habit { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (HabitId != null)
            Habit = await PublicApi().GetHabitAsync(HabitId);
    }
}
