.habit-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styles need for Calaender*/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.habit-index {
    grid-column: 2/5;
}

.calendar-grid {
    grid-column: 3;
}