.habit-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styles need for Calaender*/
.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-wrapper-animation {
    grid-template-columns: auto 0 auto auto auto;
}

.habit-index {
    grid-column: 2/5;
}

.calendar-grid {
    grid-column: 3;
    transition: all 1s linear;
    animation-name: grid-left;
    animation-delay: 0;
    animation-direction: alternate;
    animation-duration: 1s;
}

.entry-day {
    display: none;
    opacity: 0;
}

.entry-day-animation {
    animation-name: fade;
    animation-direction: alternate;
    animation-duration: 1s;
    transition: all 1s linear;
    display: block;
    opacity: 1;
}

@keyframes fade{
    0% {
        opacity: 0;
        display: none;
        max-width: 112px;
    }

    10% {
        opacity: 0;
        max-width: 112px;
    }

    100% {
        opacity: 1;
        display: block;
        max-width: 400px;
    }
}