@page "/habits/create"
@page "/habits/{HabitId}"

@if (HabitId == null)
{
    <CreateHabit />
}

<div class="grid-wrapper">
    @if (TheHabit?.Id != null)
{

    <section id="header-test" class="habit-index">
        <h6>100 days to</h6>
        <h3>@TheHabit.HabitName</h3>
    </section>

    //Grid
    <DayGrid Days="TheHabit.Progressions" />
        
    <EntryDay />

    //Timeline Goes here
    <Timeline />

    <button type="button" onclick="animation()" class="update-day">Update Day 1</button> 
}
</div>



@code {
    [Parameter] public string? HabitId { get; set; }
    Habit? TheHabit { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (HabitId != null)
            TheHabit = await PublicApi().GetHabitAsync(HabitId);
    }
}
