.star-rating {
    position: relative;
    padding: 1rem;
    white-space: nowrap;

    svg {
        width: 50px;
        fill: gold;
    }

    .cover {
        background: white;
        height: 100%;
        overflow: hidden;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
    }
}
