.timeline {
    font-family: 'Clash Display';
    .header {
        text-align: left;
        margin-bottom: 24px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 500px;


        .dayAndHabit {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .eachDayTitle {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.005em;
            margin: 10px 0px 4px;
        }

        p {
            font-size: 11px;
            line-height: 12px;
            color: var(--primary-500);
            font-family: 'Clash Display';
        }

        .day-count {
            font-size: 11px;
            line-height: 12px;
            font-weight: 400;
            color: var(--primary-900);
        }

        .habitName {
            font-weight: 400;
        }

        .username {
            font-size: 13px;
            line-height: 12px;
            text-decoration-line: underline;
            margin: 4px 0px;
        }

        .reactionsMenu {
            display: flex;
            gap: 6px;
            margin-top: 16px;

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px 7px;
                max-height: 18px;
                max-width: 45px;
                border: 1px solid #BFC2B8;
                border-radius: 100px;
                cursor: pointer;

                .lessThanOne {
                    mix-blend-mode: luminosity;
                }

                &.selected {
                    background-color: #181919;
                    color: white;                    ;
                }

                p {
                    margin-left: 6px
                }
            }
        }
    }
}
