@page "/newHabit"

<section class="create-habit">
    <div class="container">
        <div class="content">
            <div class="header">
                @*Confirm if we will have the same name or if it will just be "Welcome"*@
                <p class="xlarge">Welcome Kieran</p>
                <h3>Let's plan your 100 days</h3>
            </div>

            <div class="content-wrapper">
                <div class="col-wrapper">

                    <form action="/" method="post">

                        <div class="habit-name">
                            <p class="small sub-header">I want to</p>
                            @*Should we keep this placeholder?*@
                            <input class="habit-input" @bind="habitName" placeholder="Learn Guitar" />
                        </div>

                        <div class="missing-days">
                            <p class="small sub-header">Without missing</p>
                            @*Call the missing days property. It is related to recurrence, so it can change*@

                            <select name="days">
                                <option class="days-options" value="1">1 day</option>
                                <option class="days-options" value="2">2 days</option>
                                <option class="days-options" value="3">3 days</option>
                                <option class="days-options" value="4">4 days</option>
                                <option class="days-options" value="5">5 days</option>
                            </select>

                        </div>

                        <div class="leniency">
                            <p class="small sub-header">Missed day leniency</p>
                            <div class="input-wrapper">
                                @*Which property should we call here?*@

                                <input type="radio" id="Relaxed" name="tolerance-level" @*@bind="" *@ />
                                <label for="Relaxed">Relaxed</label>

                                <input type="radio" id="Average" name="tolerance-level" @*@bind="" *@ checked />
                                <label for="Average">Average</label>

                                <input type="radio" id="Strict" name="tolerance-level" @*@bind="" *@ />
                                <label for="Strict">Strict</label>
                            </div>


                        </div>
                    </form>

                    <div class="notes">
                        <p class="small sub-header">Please Note:</p>
                        <p class="small sub-header">Missing more days than selected will cause that day to be automatically filled as a miss.</p>
                    </div>

                    <button type=submit class="secondary-button" onclick="CreateHabit">Save & Start 100 Days</button>
                </div>

            </div>
        </div>
    </div>
</section>



<button class="secondary-button open-button" onclick="openSharePopOut()">Open Share Pop up</button>

<div class="share-overlay" id="overlayPopout"></div>
<div class="share-popup" id="sharePopout">
    <div class="wrapper">

    
        <h5>Confirm Your Day</h5>
        <p class="medium">Double check your selection, once you save your day you cannot go back and change it.</p>

        <div class="response-wrapper">
            <p class="xsmall">Successful day:</p>
            <p class="small"></p>
        </div>
        <div class="response-wrapper">
            <p class="xsmall">Day Rating:</p>
            <p class="small">5/5</p>
        </div>
        <div class="response-wrapper">
            <p class="xsmall">Notes:</p>
            <p class="small"></p>
        </div>
        
        <div class="post-wrapper">
            <input type="checkbox"/>
            <label>Post day on Law of 100 public timeline</label>
        </div>
        

        <button class="secondary-button" type="button">Confirm & Save</button>
        <button class="cancel-button" type="button" onclick="closeSharePopOut()">Cancel</button>
    </div>
</div>



@code {
    public string? habitName { get; set; }
    public string? name { get; set; }
    string? Habit;



    public bool IsSuccessful { get; set; }
    public decimal? Rating { get; set; }
    public string? Review { get; set; }

    async Task CreateHabit()
    {
        Habit = await PublicApi().CreateHabitAsync(new CreateHabitRequest { HabitName = habitName, RepeatEveryXHours = 24 });
    }
}
