.create-habit {
    .header {
        text-align: center;
        margin-bottom: 52px;

        p {
            margin-bottom: 6px;
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .col-wrapper {
        width: 30%;

        .habit-input {
            width: 100%;
        }

        .habit-name, .missing-days, .leniency, .notes {
            .sub-header {
                margin-bottom: 12px;
            }
        }

        .missing-days .days-options {
            background: #CED1C9;
        }

        .leniency {
            margin-bottom: 36px;
            justify-content: space-around;

            .input-wrapper {
                border: 1px solid var(--primary-900);
                border-radius: 6px 6px 6px 6px;
                display: flex;
                justify-content: space-evenly;

                input {
                    display: none;
                }

                label {
                    padding: 6px 18px;
                }

                input[type="radio"]:checked + label {
                    background-color: var(--primary-900);
                    color: var(--tertiary-500);
                }
            }
        }

        .habit-name, .missing-days {
            margin-bottom: 42px;
        }

        .notes {
            margin-bottom: 40px;
        }

        .secondary-button {
            border-radius: 6px;
        }
    }
}






/*.create-habit {
    .header {
        text-align: center;
        margin-bottom: 52px;

        p {
            margin-bottom: 6px;
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .col-wrapper {
        .habit-name, .missing-days, .notes {
            .sub-header {
                margin-bottom: 12px;
            }
        }

        .leniency {
            margin-bottom: 36px;

            .input-wrapper {
                border: 1px solid var(--primary-900);
                border-radius: 6px 6px 6px 6px;
                max-width: 216px;
                display: flex;

                input {
                    display: none;
                }

                label {
                    padding: 6px 18px;
                }

                input[type="radio"]:checked + label {
                    background-color: var(--primary-900);
                    color: var(--tertiary-500);
                }
            }
        }

        .tolerance-level {
            margin-bottom: 42px;
        }

        .notes {
            margin-bottom: 40px;

            .smaller sub-header {
                font-size: 13px;
            }

            .p {
                font-size: 12px;
            }
        }
    }
}*/

/* Button used to open the Share popup*/
.open-button {
    padding: 16px 20px;
}

/* The Share popup - hidden by default */
.share-popup {
    /*display: none;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CED1C9;
    padding: 40px;
    max-width: 432px;

    .response-wrapper {
        margin-bottom: 18px;
    }

    .response-wrapper:last-child {
        margin-bottom: 26px;
    }

    h5 {
        margin-bottom: 12px;
        color: var(--primary-900);
    }

    p.medium {
        margin-bottom: 24px;
        color: var(--primary-700);
    }

    p.small {
        color: var(--primary-700);
    }

    p.xsmall {
        margin-bottom: 10px;
        color: var(--primary-500);
    }

    .post-wrapper {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        color: var(--primary-900);

        input {
            margin-right: 10px;
            margin-top: 4px;
        }
    }
}


/*@media only screen and (max-width: 480px) {
    .newhabit {
        height: 100%;
        
    }
}*/
