@import "../_variables.scss";


.newhabit {
    background: $dark-1;
    padding-bottom: 160px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 218px;

        .header {
            margin-bottom: 36px;

            .page-title {
                margin-bottom: 8px;
            }

            span {
                font-size: 80px;
                line-height: 90px;
            }
        }

        .content-wrapper {
            .name, .goal, .weekdays {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
            }

            h5 {
                margin: 0;
                margin-bottom: 8px;
            }

            .name, .goal {
                margin-bottom: 32px;

                input {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .name {
                max-width: 260px;
            }

            .goal {
                max-width: 390px;
            }

            .weekdays {
                margin-bottom: 48px;

                .input-wrapper {
                    display: flex;
                }
            }
        }
    }

    .day {
        margin-right: 24px;
        text-align: center;


        .goal-days {
            -webkit-appearance: none;
            border: 1px solid $dark-5;
            padding: 10px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            display: flex;
            cursor: pointer;
        }

        .goal-days:active, .goal-days:checked:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            cursor: pointer;
        }
        //Tick styles
        .goal-days:checked + .label-days {
            background-color: $dark-1;
            color: black;
            cursor: pointer;
        }

        .goal-days:checked {
            border: 1px solid black;
            cursor: pointer;
        }
        //Tick position
        .goal-days:checked:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 4px;
            color: $primary;
            cursor: pointer;
        }

        .label-days {
            color: $dark-5;
        }
    }

    .day:last-child {
        margin-right: 0px;
    }

    .btn-primary {
        width: 188px;
        height: 42px;
        border-radius: 5.46px;
    }
}

.test-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.test-overlay:target{
    visibility: visible;
    opacity: 1;
}

.test-wrapper{

}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    padding: 16px 20px;
}

/* The popup form - hidden by default */
.share-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CED1C9;
    padding: 40px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*@media only screen and (max-width: 480px) {
    .newhabit {
        height: 100%;
        
    }
}*/
