@import "../_variables.scss";


.newhabit {
    background: $dark-1;
    padding-bottom: 160px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 218px;

        .header {
            margin-bottom: 36px;

            .page-title {
                margin-bottom: 8px;
            }
        }

        .content-wrapper {
            .goal {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
            }

            h5 {
                margin: 0;
                margin-bottom: 8px;
            }

            .goal {
                margin-bottom: 32px;

                input {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .goal {
                max-width: 390px;
            }
        }
    }
}

/*@media only screen and (max-width: 480px) {
    .newhabit {
        height: 100%;
        
    }
}*/
