@page "/tracking"

<section class="tracking-page section-padding-def">
    <div class="container">
        <div class="content">
            <h1 class="page-title">
                My journey to<br /><span class="highlight-text">Stop Smoking</span>
            </h1>
            <p>
                Choose one thing you want to succeed at, and do it
                <span class="highlight-text">100</span> times.
            </p>
        </div>

        <div class="calendar-grid">
            <div class="grid-wrapper">
                <div class="grid-style">
                    @*@foreach (var day in userProgression.Days)
                    {*@

                        @*<div class="grid-day @GetCssClass(day)" @onclick="(() => ToggleDay(day))">
                            <span>1 @day.Day </span>
                        </div>*@
                        @*<div v-else-if="days.status === 'Failed'" class="grid-day day-failed">
                            <span>2</span>
                        </div>
                        <div v-else-if="days.status === 'Current'" class="grid-day day-current">
                            <span>3</span>
                        </div>
                        <div v-else-if="days.status === 'Future'" class="grid-day day-default">
                            <span>4</span>
                        </div>*@
                    @*}*@

                    <div class="grid-day">
                        <span @bind="currentday">1</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="signup-wrapper">
            @*<Mailchimp />*@
        </div>



        <div class="rating-section">
            <div class="headers">
                <p class="flex-grow-1" id="day">Day</p>
                <p class="flex-grow-1" id="rating">Day Rating</p>
                <p class="flex-grow-2">Notes</p>
            </div>
            <div class="rating-content">
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>28</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <input type="text" name="name" placeholder="Summary of today" />
                    </div>
                </div>
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>27</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <p>Today was ok, but I feel I could of done more.</p>
                    </div>
                </div>
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>26</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <p>Today was ok, but I feel I could of done more.</p>
                    </div>
                </div>
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>25</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <p>Today was ok, but I feel I could of done more.</p>
                    </div>
                </div>
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>24</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Full.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <p>Today was ok, but I feel I could of done more.</p>
                    </div>
                </div>
                <div class="rating-row">
                    <div class="day-rating padding-right-70 ">
                        <h4>23</h4>
                    </div>
                    <div class="star-rating padding-right-70 ">
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                        <img src="./imgs/icons/star/Empty.png" alt="Star Rating" />
                    </div>
                    <div class="notes flex-grow-2">
                        <p>Today was ok, but I feel I could of done more.</p>
                    </div>
                </div>
            </div>
            <button class="timeline">View Timeline</button>
        </div>
    </div>
</section>


@code {

    public int currentday { get; set; }
    public string? Days;

    async Task TrackDay()
    {
        Days = await PublicApi().TrackDayAsync(currentday);
    }

    //UserProgression userProgression = new UserProgression();


    //protected override async Task OnInitializedAsync()
    //{
    //    userProgression = LoadUserProgression();
    //}

    //UserProgression LoadUserProgression()
    //{
    //    return UserProgression.Create();
    //}

    //string GetCssClass(DailyProgression day)
    //{
    //    string cssClass = string.Empty;
    //    if (day.DayState == DayState.CurrentDay)
    //    {
    //        cssClass = "day-current";
    //    }
    //    else if (day.DayState == DayState.PassedDay)
    //    {
    //        cssClass = "day-passed";
    //    }
    //    else if (day.DayState == DayState.CompleteDay)
    //    {
    //        cssClass = "day-complete";
    //    }

    //    else if (day.DayState == DayState.FailedDay)
    //    {
    //        cssClass = "day-failed";
    //    }

    //    return cssClass;
    //}

    //private void ToggleDay(DailyProgression day)
    //{
    //    userProgression.ToggleDay(day);
    //}
}