@page "/sign-Up"

<section class="signup">
    <div class="container">
        <div class="content">
            <div class="section-intro">
                <h2>Create Account</h2>
                <p class="signin-signup">Already have an account? <a href="/Sign-In"><span class="highlight-text">Sign In</span></a></p>
            </div>
            <div class="content-wrapper">
                <div class="email">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email" />
                </div>
                <div class="password">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <div class="confirm-password">
                    <label>Confirm Password</label>
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <button class="btn-primary">Sign Up</button>
                <div class="tos">
                    <p class="tos-text">By signing up you agree to our <span class="highlight-text">Terms of Service</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
