.forgot-password {
    p {
        margin: 0;
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 40px;
    }
}

.signin {
    btn-primary {
        margin-bottom: 0px;
    }
}

.signup {
    .helpLink, .givenName_li, .displayName_li {
        display: none;
    }

    .sendCode {
        text-align: center;
    }

    buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        #continue, #cancel{
            max-width: 35%;
        }
    }
}