:root {
    --secondary-500: #F24C00;
    --secondary-700: #802800;
    --secondary-900: #662000;
    --primary-100: #CACCCC;
    --primary-300: #969999;
    --primary-500: #626666;
    --primary-700: #2F3333;
    --primary-900: #181919;
    --tertiary-100: #EFF2EB;
    --tertiary-300: #DDE0D7;
    --tertiary-500: #CED1C9;
    --tertiary-700: #BFC2B8;
    --tertiary-900: #8A8C84;
    --active-500: #181919;
    --font-family: 'Clash Display', sans-serif;

    h1, h2, h3, h4, h5, h6, .subtitle {
        --font-family: 'Clash Display', sans-serif;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 72px;
    }

    h3 {
        font-size: 64px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 32px;
    }

    h6 {
        font-size: 28px;
        font-weight: 400;
    }

    p.xlarge {
        font-size: 24px;
    }

    p.large {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    p.medium {
        font-size: 16px;
        line-height: 24px;
    }

    p.small {
        font-size: 14px;
        line-height: 16px;
        color: #626666;
    }

    p.xsmall {
        font-size: 12px;
        line-height: 12px;
    }

    input, select {
        border-color: var(--active-500);
    }

    label {
        font-size: 14px;
        color: var(--primary-500);

        input, select {
            margin-top: 12px;
            width: 100%;
        }
    }

    button {
        color: var(--tertiary-500);
        font-weight: 300;
    }
}
