@import "_variables.scss";
@import "wwwroot/KodeKitOverwrite.scss";


@import "Pages/NewHabit";
@import "Pages/Index";
@import "Pages/Tracking";
@import "Pages/Timeline";
@import "Pages/SignIn.scss";
@import "Pages/SignUp.scss";
@import "Pages/EntryDay";

/*Global Styles*/

body {
    background: #CED1C9;
}

button {
    color: var(--tertiary-500) !important;
}

.primary-button.secondary-button {
    background: var(--secondary-900);
    border-radius: 6px;
}

.primary-button {
    padding: 14px 50px;
}

.secondry-button {
    padding: 8px 12px;
}

.cancel-button {
    color: var(--primary-900);
    background: none;
}