@import "_Imports";


@import "Shared/NavMenu";
@import "Shared/SlackMembersDisplay";

@import "Home/Index";

@import "Habits/Index";
@import "Habits/Components/CreateHabit";
@import "Habits/Components/Timeline";
@import "Habits/Components/EntryDay";
@import "Habits/Components/DayGrid";
@import "Habits/CommunityTimeline";
@import "Habits/Components/StarRating";

@import "Users/SignIn";
@import "Users/SignUp";
@import "Users/Profile";

/*Global Styles*/

body {
    background: #CED1C9;
    overflow-x: hidden;
    overflow-y: auto;
}

.primary-button, .secondary-button {
    background: var(--primary-900);
    border-radius: 6px;
}

.primary-button {
    padding: 14px 50px;
}

.secondry-button {
    padding: 8px 12px;
}

.invert-button {
    background: inherit;
    color: var(--primary-900);
    border: 1px solid var(---primary-900);
    }

button.cancel-button {
    color: var(--primary-900);
    font-weight: 400;
    min-width: 100px;
    text-align: center;
    background: none;

}


button.cancel-button:hover {
    &:hover {
        background-color: transparent;
        color: var(--secondary-500);
    }
}

.radio-wrapper {
    border: 1px solid var(--primary-900);
    border-radius: 6px 6px 6px 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8px;

    input {
        opacity: 0;
        position: absolute;
    }

    label {
        padding: 6px 18px;
        position: relative;
        cursor: pointer;
        text-align: center;
        margin: 0;

        &:hover {
            color: var(--active-500);
        }

        &.selected {
            background-color: var(--primary-900);
            color: var(--tertiary-500);
        }
    }
}

#blazor-error-ui {
    display: none;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 580px) {
    .mobile{
        display: inline-flex;
    }
}
