:root {
  --secondary-500: #F24C00;
  --secondary-700: #802800;
  --secondary-900: #662000;
  --primary-100: #CACCCC;
  --primary-300: #969999;
  --primary-500: #626666;
  --primary-700: #2F3333;
  --primary-900: #181919;
  --tertiary-100: #EFF2EB;
  --tertiary-300: #DDE0D7;
  --tertiary-500: #CED1C9;
  --tertiary-700: #BFC2B8;
  --tertiary-900: #8A8C84;
  --active-500: #181919;
  --font-family: "Clash Display", sans-serif;
}
:root h1, :root h2, :root h3, :root h4, :root h5, :root h6, :root .subtitle {
  --font-family: "Clash Display", sans-serif;
}
:root h1 {
  font-size: 80px;
  line-height: 80px;
}
@media only screen and (max-width: 580px) {
  :root h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
:root h2 {
  font-size: 72px;
  line-height: 80px;
}
@media only screen and (max-width: 580px) {
  :root h2 {
    font-size: 44px;
    line-height: 48px;
  }
}
:root h3 {
  font-size: 64px;
}
@media only screen and (max-width: 580px) {
  :root h3 {
    font-size: 40px;
    line-height: 48px;
  }
}
:root h4 {
  font-size: 40px;
}
@media only screen and (max-width: 580px) {
  :root h4 {
    font-size: 24px;
    line-height: 24px;
  }
}
:root h5 {
  font-size: 32px;
}
@media only screen and (max-width: 580px) {
  :root h5 {
    font-size: 28px;
    line-height: 28px;
  }
}
:root h6 {
  font-size: 28px;
  font-weight: 400;
}
@media only screen and (max-width: 580px) {
  :root h6 {
    font-size: 16px;
    line-height: 16px;
  }
}
:root p.xlarge {
  font-size: 24px;
}
@media only screen and (max-width: 580px) {
  :root p.xlarge {
    font-size: 20px;
    line-height: 20px;
  }
}
:root p.large {
  font-size: 20px;
}
:root p {
  font-size: 18px;
}
@media only screen and (max-width: 580px) {
  :root p {
    font-size: 16px;
    line-height: 24px;
  }
}
:root p.medium {
  font-size: 16px;
  line-height: 24px;
}
:root p.small {
  font-size: 14px;
  line-height: 16px;
  color: #626666;
}
:root p.xsmall {
  font-size: 12px;
  line-height: 12px;
}
:root input, :root select, :root textarea {
  --active-500: #181919;
  --secondary-500: #F24C00;
  border-color: var(--active-500);
}
:root input:active, :root input:focus, :root select:active, :root select:focus, :root textarea:active, :root textarea:focus {
  border-color: var(--secondary-500);
}
:root label {
  font-size: 14px;
  color: var(--primary-500);
}
:root label input:not([type=checkbox]), :root label select, :root label textarea {
  margin-top: 8px;
  width: 100%;
  font-family: "Inter";
}
:root label input[type=checkbox] {
  display: inline-grid;
  margin-right: 9px;
  border: 2px solid var(--primary-500);
}
:root label input[type=checkbox]:active, :root label input[type=checkbox]:focus, :root label input[type=checkbox]:checked {
  border-color: var(--secondary-500);
}
:root label input[type=checkbox]::before {
  box-shadow: inset 1em 1em #f24c00;
}
:root button, :root a.button {
  color: var(--tertiary-500);
  background-color: #181919;
  font-weight: 400;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
:root button:hover, :root a.button:hover {
  background-color: var(--secondary-500);
  color: var(--tertiary-500);
}
:root button.secondary, :root a.button.secondary {
  background-color: transparent;
  color: var(--active-500);
  font-weight: 400;
  border: 1px solid var(--active-500);
  padding: 8px 16px;
  text-align: center;
  font-size: 20px;
}
:root button.secondary:hover, :root a.button.secondary:hover {
  background-color: transparent;
  color: var(--secondary-500);
}
:root a.button {
  padding: 6px 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 40px 80px 40px;
  position: relative;
  z-index: 1005;
}
nav .nav-left, nav .nav-right {
  display: flex;
  width: 50%;
  align-items: center;
}
nav .nav-left .nav-link, nav .nav-right .nav-link {
  color: var(--primary-900);
  margin-right: 32px;
}
nav .nav-left .nav-link:hover, nav .nav-right .nav-link:hover {
  color: var(--secondary-500);
}
nav .nav-right a:last-child {
  margin-right: 0px;
}
nav .nav-right {
  justify-content: flex-end;
}
nav button {
  position: relative;
}

.logo .box {
  width: 32px;
  height: 32px;
  background-color: #181919;
  border-radius: 6px;
  cursor: pointer;
}
.logo .box svg {
  position: absolute;
  margin: 6px 0 0 6px;
  transition: all 0.25s linear;
}
.logo .box:hover svg {
  transform: scale(1.5);
}

.big-star img {
  position: absolute;
  top: -25vw;
  right: -25vw;
  width: 50vw;
  animation: spin 150s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.mobile-nav {
  display: none;
}

.menu-wrapper .toggler {
  position: absolute;
  top: 0;
  right: -3px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.menu-wrapper .hamburger {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrapper .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--primary-900);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrapper .hamburger > div:before, .menu-wrapper .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrapper .hamburger > div:after {
  top: 10px;
}
.menu-wrapper .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrapper .toggler:checked + .hamburger > div:before,
.menu-wrapper .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrapper .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu-wrapper .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrapper .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.8s;
}
.menu-wrapper .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrapper .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrapper .menu > div {
  background: lightgrey;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  z-index: 100001;
}
.menu-wrapper .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrapper .menu .nav-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 94px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}
.menu-wrapper .menu .nav-link-wrapper .nav-link {
  transition: color 0.3s ease;
  color: var(--primary-900);
}
.menu-wrapper .menu .nav-link-wrapper .nav-link:hover {
  color: var(--active-500);
}

@media only screen and (max-width: 580px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 40px 80px 40px;
    position: relative;
    z-index: 1005;
  }

  nav .nav-left .nav-link, nav .nav-right .nav-link {
    margin-right: 16px;
  }
}
.home {
  text-align: center;
}
.home .container {
  margin: 0 auto;
  max-width: 1200px;
}
.home .header {
  max-width: 70%;
  margin: 54px auto;
}
.home .header p {
  max-width: 60%;
  margin: auto;
  margin-top: 22px;
}
.home .calendar-container {
  margin-bottom: 254px;
  margin-top: 50px;
}
.home .the-law {
  margin-bottom: 260px;
}
.home .the-law h6 {
  margin-bottom: 2px;
}
.home .the-law h2 {
  margin-bottom: 32px;
}
.home .the-law p {
  max-width: 56%;
  margin: auto;
}
.home .how-to-start {
  margin-bottom: 260px;
}
.home .how-to-start .header-wrapper {
  margin-bottom: 100px;
}
.home .how-to-start .header-wrapper h6 {
  margin-bottom: 4px;
}
.home .how-to-start .step-wrapper {
  display: flex;
  justify-content: space-between;
}
.home .how-to-start .step-wrapper .steps {
  width: 33%;
  margin: auto;
}
.home .how-to-start .step-wrapper .steps p.xlarge {
  margin-top: 12px;
  font-weight: 500;
}
.home .how-to-start .step-wrapper .steps p.medium {
  max-width: 76%;
  margin: auto;
}
.home .overview {
  margin-bottom: 260px;
}
.home .overview h4 {
  margin-bottom: 26px;
}
.home .overview p {
  max-width: 60%;
  margin: auto;
}
.home .law-help-bg {
  background: var(--tertiary-700);
  padding: 260px 0;
}
.home .law-help h2 {
  margin-bottom: 32px;
}
.home .law-help p {
  max-width: 60%;
  margin: auto;
}
.home .law-help .law-features {
  margin-top: 116px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .law-help .law-features .feature {
  max-width: 50%;
  margin: auto;
}
.home .law-help .law-features .feature p.xlarge {
  margin-top: 16px;
  font-weight: 500;
}
.home .law-help .law-features .feature p {
  max-width: 72%;
}
.home .law-help .law-features .feature:nth-child(n+3) {
  margin-top: 66px;
}
.home p.xlarge {
  color: var(--primary-900);
  font-family: "Clash Display";
}
.home p {
  margin: auto;
}
.home .start-day-one {
  margin-top: 260px;
}
.home .cut-off {
  max-height: 350px;
  margin-bottom: 0;
  overflow: hidden;
}

.start-button a {
  color: #CED1C9;
}

.start-button:hover a {
  color: var(--active-500);
}

@media only screen and (max-width: 580px) {
  .home .header {
    max-width: 90%;
    margin: auto;
  }
  .home .header p {
    max-width: 60%;
    margin: auto;
    margin-top: 22px;
  }
  .home .law p {
    max-width: 72%;
  }
  .home .how-to-start .header-wrapper {
    margin-bottom: 40px;
  }
  .home .how-to-start .step-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .home .how-to-start .step-wrapper .steps {
    width: 100%;
  }
  .home .how-to-start .step-wrapper .steps p.medium {
    width: 80%;
  }
  .home .law-help p {
    max-width: 80%;
  }
  .home .law-help .law-features {
    flex-direction: column;
    row-gap: 72px;
    margin-top: 40px;
  }
  .home .law-help .law-features .feature {
    max-width: 80%;
  }
  .home .law-help .law-features .feature p {
    max-width: 100%;
  }
  .home .law-help .law-features .feature:nth-child(n+3) {
    margin-top: 0px;
  }
  .home .the-law p, .home .overview p, .home law-help p {
    max-width: 80%;
  }
  .home .calendar-container, .home .law, .home .how-to-start, .home .law-help {
    margin-bottom: 120px;
  }
  .home .cut-off {
    margin-bottom: 0px;
  }

  .start-button {
    margin: 32px 0px 0px 0px;
  }
  .start-button a {
    color: #CED1C9;
  }
}
@media only screen and (max-width: 481px) {
  .home .law-help .law-features .feature {
    max-width: 100%;
  }
}
.habit-index {
  margin: 0 10px;
}
.habit-index header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habit-index header h6 {
  margin-bottom: 12px;
}
.habit-index header h3 {
  text-align: center;
}
.habit-index .grid-wrapper {
  display: grid;
  grid-template: auto auto/3fr auto;
  max-width: 960px;
  margin: 0 auto;
}
.habit-index .calendar-grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2;
}
.habit-index .calendar-grid-wrapper p {
  text-align: center;
}
.habit-index .calendar-grid-wrapper p aside {
  font-size: 14px;
  color: var(--primary-500);
}
.habit-index .calendar-grid-wrapper .secondary-button {
  max-width: 450px;
  margin: 12px auto;
  display: block;
}
.habit-index .calendar-grid-wrapper .secondary-button #twitter {
  top: -3px;
}
.habit-index .is-not-created .create-habit {
  max-height: 500px;
}
.habit-index .is-not-created .calendar-grid {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: auto;
}
.habit-index .entry-day-animation .entry-day {
  transition: max-width 1s ease-out !important;
  max-width: 420px;
  opacity: 1;
}
.habit-index .entry-day-animation .entry-day .container {
  transition: opacity 0.75s ease-out 1s;
  opacity: 1;
}
.habit-index .new-habit-animation .create-habit {
  max-height: 16px;
}
.habit-index .new-habit-animation .create-habit .container {
  opacity: 0;
}
.habit-index .timeline {
  grid-row: 3;
  max-width: 484px;
}
.habit-index button.secondary {
  width: 100%;
  max-width: 450px;
  margin: 24px auto;
  display: block;
}
@media only screen and (max-width: 768px) {
  .habit-index .entry-day-animation .entry-day {
    transition: max-width 1s ease-out !important;
    max-width: 450px;
    opacity: 1;
    grid-row: 3;
    margin: 0 auto;
    height: auto;
  }
  .habit-index .entry-day-animation .entry-day .content-wrapper {
    margin-top: 80px;
  }
  .habit-index .entry-day-animation .timeline {
    grid-row: 4;
  }
  .habit-index .timeline {
    max-width: 484px;
    width: 100%;
  }
}

.create-habit {
  max-width: 350px;
  margin: 0 auto;
  max-height: 16px;
  position: relative;
  z-index: 100;
  transition: max-height 1s ease-in 0.75s !important;
}
.create-habit .container {
  transition: opacity 0.75s ease-in;
}
.create-habit .col-wrapper {
  padding-top: 52px;
  padding-bottom: 60px;
}
.create-habit header {
  text-align: center;
  margin-bottom: 52px;
}
.create-habit header h6 {
  margin-bottom: 12px;
}
.create-habit label {
  display: block;
  margin-bottom: 27px;
}
.create-habit select {
  background: #CED1C9;
}
.create-habit aside {
  margin-top: 16px;
  margin-bottom: 40px;
  color: var(--primary-500);
}
.create-habit aside header {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.create-habit aside p {
  font-size: 12px;
}
.create-habit .secondary-button {
  border-radius: 6px;
}

.timeline {
  font-family: "Clash Display";
  width: 100%;
  max-width: 594px;
  margin: 24px auto 80px;
}
.timeline .header {
  text-align: left;
  margin-bottom: 24px;
}
.timeline .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.timeline .content-wrapper .dayAndHabit {
  display: flex;
  align-items: center;
  gap: 8px;
}
.timeline .content-wrapper .eachDayTitle {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.005em;
  margin: 10px 0px 4px;
}
.timeline .content-wrapper p, .timeline .content-wrapper a {
  font-size: 11px;
  line-height: 12px;
  color: var(--primary-500);
  font-family: "Clash Display";
}
.timeline .content-wrapper .day-count {
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  color: var(--primary-900);
}
.timeline .content-wrapper .habitName {
  font-weight: 400;
}
.timeline .content-wrapper .username {
  font-size: 13px;
  line-height: 12px;
  text-decoration-line: underline;
  margin: 4px 0px;
}
.timeline .content-wrapper .reactionsMenu {
  display: flex;
  gap: 6px;
  margin-top: 16px;
}
.timeline .content-wrapper .reactionsMenu > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  max-height: 18px;
  max-width: 45px;
  border: 1px solid #BFC2B8;
  border-radius: 100px;
  cursor: pointer;
}
.timeline .content-wrapper .reactionsMenu > div .lessThanOne {
  mix-blend-mode: luminosity;
}
.timeline .content-wrapper .reactionsMenu > div.active {
  background-color: #181919;
  color: white;
}
.timeline .content-wrapper .reactionsMenu > div.inactive {
  pointer-events: none;
}
.timeline .content-wrapper .reactionsMenu > div p {
  margin-left: 6px;
}

.entry-day {
  max-width: 14px;
  transition: max-width 1s ease-out 0.75s;
  width: 100%;
  height: 0;
}
.entry-day .container {
  transition: opacity 0.75s ease-out;
  opacity: 0;
}
.entry-day .header {
  text-align: center;
  margin-bottom: 52px;
}
.entry-day .header p {
  margin-bottom: 6px;
}
.entry-day .radio-wrapper {
  grid-template-columns: 1fr 1fr;
}
.entry-day .content-wrapper {
  margin-top: 112px;
}
.entry-day .col-wrapper .track-day .sub-header, .entry-day .col-wrapper .rating .sub-header, .entry-day .col-wrapper .notes .sub-header {
  margin-bottom: 8px;
}
.entry-day .col-wrapper .track-day {
  margin-bottom: 36px;
  width: 78%;
}
.entry-day .col-wrapper .track-day .input-wrapper {
  border: 1px solid var(--primary-900);
  border-radius: 6px 6px 6px 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.entry-day .col-wrapper .track-day .input-wrapper input {
  display: none;
}
.entry-day .col-wrapper .track-day .input-wrapper label {
  padding: 6px 18px;
}
.entry-day .col-wrapper .track-day .input-wrapper input[type=radio]:checked + label {
  background-color: var(--primary-900);
  color: var(--tertiary-500);
}
.entry-day .col-wrapper .rating {
  margin-bottom: 26px;
}
.entry-day .col-wrapper .notes {
  margin-bottom: 40px;
}
.entry-day .col-wrapper .notes textarea {
  width: 100%;
  height: 100px;
}
.entry-day .col-wrapper .notes aside {
  text-align: right;
  margin-top: 8px;
  font: 400 12px/15px "Inter";
  color: var(--primary-500);
}
.entry-day #twitter {
  margin-right: 6px;
}
.entry-day #twitter img {
  vertical-align: text-bottom;
}
.entry-day .twitter-share-button {
  margin: 6px auto 18px;
}
.entry-day .twitter-share-button:hover {
  color: var(--primary-900);
}

/* Button used to open the Share popup*/
.open-button {
  padding: 8px 12px;
  border-radius: 6px;
}

/* The Share popup - hidden by default */
.share-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #CED1C9;
  padding: 40px;
  max-width: 432px;
  z-index: 10001;
  border-radius: 6px;
}
.share-popup-visible {
  display: block;
}
.share-popup .response-wrapper {
  margin-bottom: 18px;
}
.share-popup .response-wrapper:last-child {
  margin-bottom: 26px;
}
.share-popup label {
  display: block;
  margin-bottom: 18px;
}
.share-popup .actions {
  margin-top: 50px;
}
.share-popup h5 {
  margin-bottom: 12px;
}
.share-popup p {
  font-family: "Inter";
  margin-bottom: 24px;
  color: var(--primary-700);
}
.share-popup input[disabled], .share-popup textarea[disabled] {
  border: 0;
  padding: 0;
  color: var(--active-500);
}
.share-popup .star-rating {
  transform: scale(0.7, 0.7);
  transform-origin: left center;
  margin: 8px 0 0 0;
}
.share-popup .post-wrapper {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  color: var(--primary-900);
}
.share-popup .post-wrapper input {
  margin-right: 10px;
  margin-top: 4px;
}

.share-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 128%;
  background: #626666;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 10000;
}
.share-overlay-visible {
  display: block;
}

.update-day {
  grid-row: 3;
  grid-column: 3;
  background: inherit;
  padding: 8px 12px;
  border: 1px solid var(--primary-900);
  width: 100%;
  max-width: 484px;
  margin: auto;
  text-align: center;
  color: var(--primary-900);
}

.update-day:hover {
  border: 1px solid var(--active-500);
  color: var(--active-500);
}

@media only screen and (max-width: 768px) {
  .share-overlay {
    height: 200%;
  }

  .share-popup {
    max-width: 78%;
    width: 100%;
  }
}
.calendar-grid {
  display: inline-grid;
  grid-template: repeat(10, 40px)/repeat(10, 40px);
  grid-gap: 4px;
  background-color: var(--active-500);
  color: var(--primary-500);
  padding: 24px;
  margin: 16px auto;
  text-align: center;
  border-radius: 6px;
  z-index: 1000;
  position: relative;
}
.calendar-grid > * {
  line-height: 38px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100px;
  font-family: "Inter";
}
.calendar-grid > *:hover {
  border-color: var(--primary-500);
  cursor: pointer;
}
.calendar-grid .day-current {
  color: var(--primary-900);
  font-weight: 600;
  position: relative;
}
.calendar-grid .day-current::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  width: 48px;
  height: 48px;
  background-image: url("/images/Star-Fill.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  z-index: -1;
  animation: 0.6s ease-out 0s 1 popdown;
}
.calendar-grid .day-success {
  color: var(--secondary-700);
  text-decoration: line-through;
}
.calendar-grid .day-fail {
  color: var(--primary-700);
}
.calendar-grid .day-missed {
  color: var(--primary-700);
  text-decoration: underline;
  cursor: pointer;
}

@keyframes popdown {
  0% {
    transform: scale(1.5, 1.5) translate(-50%, -50%);
  }
  100% {
    transform: scale(1, 1) translate(-50%, -50%);
  }
}
@media only screen and (max-width: 480px) {
  .calendar-grid {
    grid-template: repeat(10, 32px)/repeat(10, 32px);
    grid-gap: 0px;
    padding: 8px;
  }

  .calendar-grid .day-current::before {
    background-size: 40px 40px;
  }

  .calendar-grid > * {
    line-height: 32px;
    font-size: 14px;
  }
}
.communityTimeline p {
  font-family: "Clash Display";
}
.communityTimeline > .container {
  width: 928px;
  margin: 0 auto;
  max-width: 90%;
}
.communityTimeline > .container > .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.communityTimeline > .container > .content .completedDays {
  background: #BFC2B8;
  border-radius: 6px;
  padding: 32px;
  width: 288px;
}
.communityTimeline > .container > .content .completedDays .completedDays__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.communityTimeline > .container > .content .completedDays .completedDays__title p {
  font-size: 14px;
  font-weight: 400;
  color: #181919;
}
.communityTimeline > .container > .content .completedDays .completedDays__title .viewMore {
  text-decoration: underline;
  color: #8A8C84;
  font-size: 12px;
}
.communityTimeline > .container > .content .completedDays .completedDay {
  margin-bottom: 24px;
}
.communityTimeline > .container > .content .completedDays .completedDay__date {
  font-size: 10px;
  color: #8A8C84;
  line-height: 12px;
  margin-bottom: 2px;
}
.communityTimeline > .container > .content .completedDays .completedDay__text {
  color: #181919;
  font-weight: 400;
  font-size: 14px;
}
.communityTimeline > .container > .content .completedDays .completedDay__user {
  color: #626666;
  text-decoration: underline;
  line-height: 12px;
  font-size: 10px;
  cursor: pointer;
}
.communityTimeline > .container > .content .completedDays .completedDay:last-child {
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  .communityTimeline .completedDays {
    display: none;
  }
}
.star-rating {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  max-width: 130px;
}
.star-rating svg {
  pointer-events: none;
  fill: var(--secondary-500);
}
.star-rating .cover {
  background: var(--tertiary-500);
  height: 100%;
  overflow: hidden;
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  right: 0;
}

.signin, .signup {
  background: #f8f8f8;
  height: 100vh;
}
.signin .content, .signup .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 218px;
}
.signin .content h2, .signup .content h2 {
  margin: 0;
  margin-bottom: 8px;
}
.signin .content .signin-signup, .signup .content .signin-signup {
  margin: 0;
  color: #838383;
  font-size: 16px;
  line-height: 22px;
}
.signin .content .email, .signin .content .password, .signin .content .confirm-password, .signup .content .email, .signup .content .password, .signup .content .confirm-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.signin .content .confirm-password, .signup .content .confirm-password {
  margin-bottom: 40px;
}
.signin .content .btn-primary, .signup .content .btn-primary {
  width: 109px;
  height: 42px;
  border-radius: 5.46px;
  margin-bottom: 17px;
}
.signin .content .content-wrapper, .signup .content .content-wrapper {
  color: #838383;
}
.signin .content .content-wrapper p.tos-text, .signup .content .content-wrapper p.tos-text {
  font-size: 12px;
  line-height: 19px;
  color: #838383;
  margin: 0;
}
.signin .section-intro, .signin .content-wrapper, .signup .section-intro, .signup .content-wrapper {
  max-width: 362px;
  width: 100%;
}

.forgot-password p {
  margin: 0;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 40px;
}

.signin btn-primary {
  margin-bottom: 0px;
}

.profile {
  text-align: center;
}
.profile h2 {
  font-size: 48px;
  margin-bottom: 13px;
}
.profile p {
  margin-bottom: 34px;
  font-family: "Inter";
}
.profile label {
  display: block;
  margin-bottom: 27px;
  max-width: 350px;
  margin: 0 auto 27px;
  text-align: left;
}
.profile label aside {
  text-align: right;
  margin-top: 8px;
  font: 400 12px/15px "Inter";
}
.profile textarea {
  min-height: 140px;
}
.profile button {
  width: 100%;
  max-width: 350px;
  margin-top: 40px;
}
@media only screen and (max-width: 480px) {
  .profile .container {
    margin: 0 10px;
  }
}

/*Global Styles*/
body {
  background: #CED1C9;
  overflow-x: hidden;
  overflow-y: auto;
}

.primary-button, .secondary-button {
  background: var(--primary-900);
  border-radius: 6px;
}

.primary-button {
  padding: 14px 50px;
}

.secondry-button {
  padding: 8px 12px;
}

.invert-button {
  background: inherit;
  color: var(--primary-900);
  border: 1px solid var(---primary-900);
}

button.cancel-button {
  color: var(--primary-900);
  font-weight: 400;
  min-width: 100px;
  text-align: center;
  background: none;
}

button.cancel-button:hover:hover {
  background-color: transparent;
  color: var(--secondary-500);
}

.radio-wrapper {
  border: 1px solid var(--primary-900);
  border-radius: 6px 6px 6px 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8px;
}
.radio-wrapper input {
  opacity: 0;
  position: absolute;
}
.radio-wrapper label {
  padding: 6px 18px;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
.radio-wrapper label:hover {
  color: var(--active-500);
}
.radio-wrapper label.selected {
  background-color: var(--primary-900);
  color: var(--tertiary-500);
}

#blazor-error-ui {
  display: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 580px) {
  .mobile {
    display: inline-flex;
  }
}
