:root {
  --secondary-500: #F24C00;
  --secondary-700: #802800;
  --secondary-900: #662000;
  --primary-100: #CACCCC;
  --primary-300: #969999;
  --primary-500: #626666;
  --primary-700: #2F3333;
  --primary-900: #181919;
  --tertiary-100: #EFF2EB;
  --tertiary-300: #DDE0D7;
  --tertiary-500: #CED1C9;
  --tertiary-700: #BFC2B8;
  --tertiary-900: #8A8C84;
  --active-500: #181919; }
  :root h1, :root h2, :root h3, :root h4, :root h5, :root h6, :root .subtitle {
    --font-family: 'Clash Display', sans-serif; }
  :root h1 {
    font-size: 80px; }
  :root h2 {
    font-size: 72px; }
  :root h3 {
    font-size: 64px; }
  :root h4 {
    font-size: 40px; }
  :root h5 {
    font-size: 32px; }
  :root h6 {
    font-size: 28px;
    font-weight: 400; }
  :root p.xlarge {
    font-size: 24px; }
  :root p.large {
    font-size: 20px; }
  :root p {
    font-size: 18px; }
  :root p.medium {
    font-size: 16px;
    line-height: 24px; }
  :root p.small {
    font-size: 14px;
    line-height: 16px;
    color: #626666; }
  :root p.xsmall {
    font-size: 12px;
    line-height: 12px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 40px 80px 40px; }
  nav .nav-left, nav .nav-right {
    display: flex;
    width: 50%; }
    nav .nav-left .nav-link, nav .nav-right .nav-link {
      color: var(--primary-900);
      margin-right: 32px; }
  nav .nav-left:last-child, nav .nav-right:last-child {
    margin-right: 0px; }
  nav .nav-right {
    justify-content: flex-end; }

.habit-index {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*Styles need for Calaender*/
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto); }

.habit-index {
  grid-column: 2/5; }

.calendar-grid {
  grid-column: 3; }

.create-habit .header {
  text-align: center;
  margin-bottom: 52px; }
  .create-habit .header p {
    margin-bottom: 6px; }

.create-habit .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }

.create-habit .col-wrapper {
  width: 30%; }
  .create-habit .col-wrapper .habit-input {
    width: 100%; }
  .create-habit .col-wrapper .habit-name .sub-header, .create-habit .col-wrapper .missing-days .sub-header, .create-habit .col-wrapper .leniency .sub-header, .create-habit .col-wrapper .notes .sub-header {
    margin-bottom: 12px; }
  .create-habit .col-wrapper .missing-days .days-options {
    background: #CED1C9; }
  .create-habit .col-wrapper .leniency {
    margin-bottom: 36px;
    justify-content: space-around; }
    .create-habit .col-wrapper .leniency .input-wrapper {
      border: 1px solid var(--primary-900);
      border-radius: 6px 6px 6px 6px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .create-habit .col-wrapper .leniency .input-wrapper input {
        opacity: 0;
        position: absolute; }
      .create-habit .col-wrapper .leniency .input-wrapper label {
        padding: 6px 18px;
        position: relative;
        cursor: pointer;
        text-align: center; }
        .create-habit .col-wrapper .leniency .input-wrapper label.selected {
          background-color: var(--primary-900);
          color: var(--tertiary-500); }
  .create-habit .col-wrapper .habit-name, .create-habit .col-wrapper .missing-days {
    margin-bottom: 42px; }
  .create-habit .col-wrapper .notes {
    margin-bottom: 40px; }
  .create-habit .col-wrapper .secondary-button {
    border-radius: 6px; }

.timeline {
  font-family: 'Clash Display'; }
  .timeline .header {
    text-align: left;
    margin-bottom: 24px; }
  .timeline .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px; }
    .timeline .content-wrapper .dayAndHabit {
      display: flex;
      align-items: center;
      gap: 8px; }
    .timeline .content-wrapper .eachDayTitle {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.005em;
      margin: 10px 0px 4px; }
    .timeline .content-wrapper p, .timeline .content-wrapper a {
      font-size: 11px;
      line-height: 12px;
      color: var(--primary-500);
      font-family: 'Clash Display'; }
    .timeline .content-wrapper .day-count {
      font-size: 11px;
      line-height: 12px;
      font-weight: 400;
      color: var(--primary-900); }
    .timeline .content-wrapper .habitName {
      font-weight: 400; }
    .timeline .content-wrapper .username {
      font-size: 13px;
      line-height: 12px;
      text-decoration-line: underline;
      margin: 4px 0px; }
    .timeline .content-wrapper .reactionsMenu {
      display: flex;
      gap: 6px;
      margin-top: 16px; }
      .timeline .content-wrapper .reactionsMenu > div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 7px;
        max-height: 18px;
        max-width: 45px;
        border: 1px solid #BFC2B8;
        border-radius: 100px;
        cursor: pointer; }
        .timeline .content-wrapper .reactionsMenu > div .lessThanOne {
          mix-blend-mode: luminosity; }
        .timeline .content-wrapper .reactionsMenu > div.selected {
          background-color: #181919;
          color: white; }
        .timeline .content-wrapper .reactionsMenu > div p {
          margin-left: 6px; }

.entry-day {
  max-width: 16px;
  transition: max-width 1s ease-out 0.75s;
  width: 100%;
  height: 0; }
  .entry-day .container {
    transition: opacity 0.75s ease-out;
    opacity: 0; }
  .entry-day .header {
    text-align: center;
    margin-bottom: 52px; }
    .entry-day .header p {
      margin-bottom: 6px; }
  .entry-day .content-wrapper {
    margin-top: 112px; }
  .entry-day .col-wrapper .track-day .sub-header, .entry-day .col-wrapper .rating .sub-header, .entry-day .col-wrapper .notes .sub-header {
    margin-bottom: 12px; }
  .entry-day .col-wrapper .track-day {
    margin-bottom: 36px;
    width: 78%; }
    .entry-day .col-wrapper .track-day .input-wrapper {
      border: 1px solid var(--primary-900);
      border-radius: 6px 6px 6px 6px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center; }
      .entry-day .col-wrapper .track-day .input-wrapper input {
        display: none; }
      .entry-day .col-wrapper .track-day .input-wrapper label {
        padding: 6px 18px; }
      .entry-day .col-wrapper .track-day .input-wrapper input[type="radio"]:checked + label {
        background-color: var(--primary-900);
        color: var(--tertiary-500); }
  .entry-day .col-wrapper .rating {
    margin-bottom: 42px; }
  .entry-day .col-wrapper .notes {
    margin-bottom: 40px; }
    .entry-day .col-wrapper .notes textarea {
      width: 100%;
      height: 100px; }

/* Button used to open the Share popup*/
.open-button {
  padding: 8px 12px;
  border-radius: 6px; }

/* The Share popup - hidden by default */
.share-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #CED1C9;
  padding: 40px;
  max-width: 432px; }
  .share-popup .response-wrapper {
    margin-bottom: 18px; }
  .share-popup .response-wrapper:last-child {
    margin-bottom: 26px; }
  .share-popup h5 {
    margin-bottom: 12px;
    color: var(--primary-900); }
  .share-popup p.medium {
    margin-bottom: 24px;
    color: var(--primary-700); }
  .share-popup p.small {
    color: var(--primary-700); }
  .share-popup p.xsmall {
    margin-bottom: 10px;
    color: var(--primary-500); }
  .share-popup .post-wrapper {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: var(--primary-900); }
    .share-popup .post-wrapper input {
      margin-right: 10px;
      margin-top: 4px; }

#twitter {
  margin-right: 6px; }

.share-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #626666;
  top: 0;
  left: 0;
  opacity: 0.6; }

.entry-day-animation {
  transition: max-width 1s ease-out !important;
  max-width: 420px;
  opacity: 1; }
  .entry-day-animation .container {
    transition: opacity 0.75s ease-out 1s;
    opacity: 1; }

#test {
  grid-row: 3;
  grid-column: 2;
  position: absolute; }

.calendar-grid {
  display: grid;
  grid-template: repeat(10, auto)/repeat(10, auto);
  grid-gap: 0;
  background-color: var(--active-500);
  color: var(--primary-500);
  padding: 24px;
  margin: 52px auto 16px;
  text-align: center;
  border-radius: 6px;
  max-width: 594px; }
  .calendar-grid > * {
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 100px; }
    .calendar-grid > *:hover {
      border-color: var(--primary-500);
      cursor: pointer; }
  .calendar-grid .day-current {
    background-image: url("/images/Star-Fill.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-900);
    font-weight: 600; }
  .calendar-grid .day-success {
    color: var(--secondary-700);
    text-decoration: line-through; }
  .calendar-grid .day-fail {
    color: var(--primary-700); }
  .calendar-grid .day-missed {
    color: var(--primary-700);
    text-decoration: underline;
    cursor: pointer; }

.communityTimeline p {
  font-family: 'Clash Display'; }

.communityTimeline > .container {
  width: 928px;
  margin: 0 auto;
  max-width: 90%; }
  .communityTimeline > .container > .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .communityTimeline > .container > .content .completedDays {
      background: #BFC2B8;
      border-radius: 6px;
      padding: 32px;
      width: 288px; }
      .communityTimeline > .container > .content .completedDays .completedDays__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; }
        .communityTimeline > .container > .content .completedDays .completedDays__title p {
          font-size: 14px;
          font-weight: 400;
          color: #181919; }
        .communityTimeline > .container > .content .completedDays .completedDays__title .viewMore {
          text-decoration: underline;
          color: #8A8C84;
          font-size: 12px; }
      .communityTimeline > .container > .content .completedDays .completedDay {
        margin-bottom: 24px; }
        .communityTimeline > .container > .content .completedDays .completedDay__date {
          font-size: 10px;
          color: #8A8C84;
          line-height: 12px;
          margin-bottom: 2px; }
        .communityTimeline > .container > .content .completedDays .completedDay__text {
          color: #181919;
          font-weight: 400;
          font-size: 14px; }
        .communityTimeline > .container > .content .completedDays .completedDay__user {
          color: #626666;
          text-decoration: underline;
          line-height: 12px;
          font-size: 10px;
          cursor: pointer; }
        .communityTimeline > .container > .content .completedDays .completedDay:last-child {
          margin-bottom: 0px; }

.star-rating {
  position: relative;
  padding: 16px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block; }
  .star-rating svg {
    pointer-events: none;
    fill: var(--secondary-500); }
  .star-rating .cover {
    background: var(--tertiary-500);
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0; }

.signin, .signup {
  background: #f8f8f8;
  height: 100vh; }
  .signin .content, .signup .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 218px; }
    .signin .content h2, .signup .content h2 {
      margin: 0;
      margin-bottom: 8px; }
    .signin .content .signin-signup, .signup .content .signin-signup {
      margin: 0;
      color: #838383;
      font-size: 16px;
      line-height: 22px; }
    .signin .content .email, .signin .content .password, .signin .content .confirm-password, .signup .content .email, .signup .content .password, .signup .content .confirm-password {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px; }
    .signin .content .confirm-password, .signup .content .confirm-password {
      margin-bottom: 40px; }
    .signin .content .btn-primary, .signup .content .btn-primary {
      width: 109px;
      height: 42px;
      border-radius: 5.46px;
      margin-bottom: 17px; }
    .signin .content .content-wrapper, .signup .content .content-wrapper {
      color: #838383; }
      .signin .content .content-wrapper p.tos-text, .signup .content .content-wrapper p.tos-text {
        font-size: 12px;
        line-height: 19px;
        color: #838383;
        margin: 0; }
  .signin .section-intro, .signin .content-wrapper, .signup .section-intro, .signup .content-wrapper {
    max-width: 362px;
    width: 100%; }

.forgot-password p {
  margin: 0;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 40px; }

.signin btn-primary {
  margin-bottom: 0px; }

/*Global Styles*/
body {
  background: #CED1C9; }

.primary-button, .secondary-button {
  background: var(--primary-900);
  border-radius: 6px; }

.primary-button {
  padding: 14px 50px; }

.secondry-button {
  padding: 8px 12px; }

.cancel-button {
  color: var(--primary-900);
  background: none; }

.cancel-button:hover {
  background: none; }

#blazor-error-ui {
  display: none; }
