<section class="timeline">
    <div class="container">
        <div class="content">
            @if (Entries != null)
            {
                <div class="content-wrapper">
                    @foreach (var entry in Entries)
                    {
                        <TimelineEntry Entry=entry />
                    }
                </div>
            }
        </div>
    </div>
</section>

@code {
    [Parameter] public Habit? Habit { get; set; }
    [Parameter] public IEnumerable<LawOf100.Timeline>? Entries { get; set; }
}